@{
  ViewData["Title"] = "Home Page";
}

<div class="container-fluid">
  <div class="row">

    <div class="header col-12">
      <h1 style="font-size:5vw; color:white;text-align:center;">LOTEAMENTOS SANTA TERESA</h1>
      <p style=" font-size:3vw; color:white;text-align:center;">Escolha o melhor local para construir sua casa.</p>
    </div>
    <div class="topnav col-12">
      <a asp-controller="Home" asp-action="Index">Home</a>
      <a asp-controller="Home" asp-action="Institucional">Institucional</a>
      <a asp-controller="Home" asp-action="Servicos">Servicos</a>
      <!--  <a href="#">Portfólio</a>
      <a href="#">Galeria de Fotos</a>
      <a href="#" style="float:right">Login</a> -->
    </div>
  </div>


  <div class="row">
    <div class="col-sm-12 col-md-12 col-lg-7">
      <div class="leftcolumn">
        <div class="card">
          <h2>Nossa História</h2>
          <h5>Nossa sede, 25 de Outubro de 2021</h5>
          <div class="fakeimg img-fluid" style="width: 100%; height:450px; object-fit: cover;">Imagem</div>
          <p>Desde 2018 nossa empresa atua no mercado de loteamento visando proporcionar aos nossos clientes a
            concretização de um sonho de ter um cantinho para chamar de seu.</p>
          <p>Nossa equipe está focada em dar o melhor atendimento aos nossos clientes .</p>
        </div>
      </div>
    </div>
    <div class="col-sm-12 col-md-12 col-lg-5">
      <div class="rightcolumn">
        <div class="card">
          <h2>Loteamentos</h2>
          <!--  <div class="fakeimg" style="height:100px;">Image</div> -->
          <p>Loteamento Canaã</p>
          <p>Loteamento Doura</p>
          <p>Loteamento Miguel Ernesto</p>
          <p>Loteamento Pilar</p>
          <p>Loteamento Soledade</p>
        </div>
        <div class="card">
          <h3>Contato</h3>
          <p>Nosso Telefone é:</p>
          <p>+55 86 3232-5888</p>
        </div>
        <div class="card">
          <h3>Siga-nos</h3>
          <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
          <i class="fas fa-cloud" style="font-size:30px;color:lightblue;"></i>
          <i class="far fa-clock" style="font-size:30px;color:#2196F3"></i>
          <span class="fa-stack fa-lg" style="font-size:30px;color:#2196F3;">
            <i class="far fa-circle fa-stack-2x"></i>
            <i class="fab fa-twitter fa-stack-1x"></i>
          </span>
        </div>
      </div>
    </div>
  </div>
</div>
