@{
  ViewData["Title"] = "Home Page";
}

<div class="container-fluid">
  <div class="row">

    <div class="header col-12">
      <h1 style="font-size:5vw; color:white;text-align:center;">LOTEAMENTOS SANTA TERESA</h1>
      <p style=" font-size:3vw; color:white;text-align:center;">Escolha o melhor local para construir sua casa.</p>
    </div>
    <div class="topnav col-12">
      <a asp-controller="Home" asp-action="Index">Home</a>
      <a asp-controller="Home" asp-action="Institucional">Institucional</a>
      <a asp-controller="Home" asp-action="Servicos">Servicos</a>
      <!--  <a href="#">Portfólio</a>
      <a href="#">Galeria de Fotos</a>
      <a href="#" style="float:right">Login</a> -->
    </div>
  </div>

  <div class="row">
    <div class="leftcolumn">
      <div class="card">
        <h2>Política de Qualidade</h2>
        <h5>Missão</h5>
        <p>Prover nossos clientes com soluções que busquem agilidade, segurança, qualidade, ética, organização e
          inovação tecnológica</p>
      </div>
      <div class="card">
        <h2>Política de Qualidade</h2>
        <h5>Visão</h5>
        <p>Sermos uma empresa auto gerenciável até 2023.</p>
      </div>
      <div class="card">
        <h2>Política de Qualidade</h2>
        <h5>Valores</h5>
        <p> Foco no resultado: Precisa ter meta;<br>
           Qualidade: Sempre entregar ao cliente um produto com excelente acabamento;<br>
           Segurança: Segurança sempre em 1º. lugar;<br>
           Organização: Primar pela organização e limpeza do nosso ambiente de trabalho;<br>
           Ética: Inegociável;<br>
           Inovação: Procurar soluções inovadoras visando: agilidade; qualidade e redução de custos;<br>
           Padronização: Caminho para disseminação das melhores práticas e redução de custos;</p>
      </div>
    </div>
  </div>
</div>